
<div id="employments" class="page-header section">
    <h1>Anställningar</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="timeline">
            <li>
                <div class="timeline-badge primary">2009</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Budbilschaufför</h4>
                        <p class="timeline-desc">Foria AB</p>
                    </div>
                    <div class="timeline-body">
                        <p>Påbörjade anställning direkt efter gymnasiet som första arbetslivserfarenhet. Arbetade som sommar-vikare med egna självständiga uppdrag i Stockholmsregionen, innerstad samt ytterområden.</p>
                        <p>Detta gav stor erfarenhet av väsentligheten med att passa tider samt planering. Stort mått av problemlösande samt många personkontakter.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge secondary">2010</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Reservdelsansvarig</h4>
                        <p class="timeline-desc">HMF Sverige AB</p>
                    </div>
                    <div class="timeline-body">
                        <p>Arbetsuppgift initialt lagerhållning samt reservdelsförsäljning. Denna arbetsuppgift utökades successivt till ansvar för butik samt kundkontakt.</p>
                        <p>Utvecklade företagets affärssystem gällande översikt av lagerstatus.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge primary">2012</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Reservdelsansvarig</h4>
                        <p class="timeline-desc">JOAB Service AB</p>
                    </div>
                    <div class="timeline-body">
                        <p>Arbetsuppgifterna innefattade ett vidare utvecklande av anställningen hos HMF Sverige AB. Var då ensamt ansvarig för ett större reservdelslager för lastbilshydraulik.</p>
                        <p>Förrutom lagerhanteringen var jag även ansvarig för direkt försäljning över disk i butik samt ensam ordermottagare för hela företaget på telefon.</p>
                        <p>Jag såg även till att in/utleveranser skedde på ett korrekt sätt och registrerades i affärssystemet Pyramid Business Studio.</p>
                        <p>Hanterade serviceordrar till montörer med tillhörande faktureringar mot kund. Ansvarade även för fortlöpande lagerinventeringar.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge secondary">2012</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Tätskiktsarbetare</h4>
                        <p class="timeline-desc">GW Asfalt & Trädgårdsanläggningar AB</p>
                    </div>
                    <div class="timeline-body">
                        <p>Huvudsaklig arbetsuppgift är att skydda byggnader samt installationer mot fukt. Detta genom att ytskiktsbelägga med asfaltsprodukter.</p>
                        <p>Arbetet kräver god grundfysik samt säkerhetstänkande då man arbetar med riskprodukter.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge primary">2012</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Budbilschaufför</h4>
                        <p class="timeline-desc">Transportpunkten AB, Underleverantör till Foria AB</p>
                    </div>
                    <div class="timeline-body">
                        <p>Arbetade som budbilschaufför i Stockholmsregionen och levererade varor i innerstad såväl som ytterregionerna.</p>
                        <p>Arbetet medförde mycket kundkontakt och god lokalkännedom samt krävde flexibilitet i problemlösande.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge secondary">2013</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Butiksbiträde</h4>
                        <p class="timeline-desc">LIDL Sverige AB</p>
                    </div>
                    <div class="timeline-body">
                        <p>Lärde mig att arbeta i grupp men givetvis också självständigt och trivdes i denna arbetsform. Fick goda kunskaper i personbemötande och till viss mån även konflikthantering.</p>
                        <p>Fick stor erfarenhet att arbeta med människor och inte bara produkter.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>