
<div id="employments" class="page-header section">
    <h1>Anställningar</h1>
</div>

<ul class="timeline">
    <li>
        <p class="timeline-date">2007年2月</p>
        <div class="timeline-content">
            <h3>カナダでワーキングホリデー</h3>
            <p>ワーホリビザで渡加。アクセサリーショップ等でバイト。カナダ生活を満喫。</p>
        </div>
    </li>
    <li>
        <p class="timeline-date">2008年3月</p>
        <div class="timeline-content">
            <h3>Webの専門学校に入学</h3>
            <p>有給インターンシップ付きの一年プログラムを受講。HTML、CSS、JavaScript、PHP等のコーディングやWebデザインの基礎を学ぶ。</p>
        </div>
    </li>
    <li>
        <p class="timeline-date">2009年2月</p>
        <div class="timeline-content">
            <h3>バンクーバーのWeb制作会社でWebデザイナーとして働く</h3>
            <p>私以外全員カナダ人という環境で英語やWebの技術を学びながら必死に働く</p>
        </div>
    </li>
</ul>