
<div id="knowledge" class="page-header section">
    <h1>Kunskaper</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="progress-radial progress-80">
                <div class="progress-overlay">.90</div>
                <label class="progress-label">C#</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-80">
                <div class="progress-overlay">.80</div>
                <label class="progress-label">Entity Framework</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-80">
                <div class="progress-overlay">.80</div>
                <label class="progress-label">MVC</label>
            </div>
        </div>
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="progress-radial progress-80">
                <div class="progress-overlay">.80</div>
                <label class="progress-label">SQL</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-70">
                <div class="progress-overlay">.70</div>
                <label class="progress-label">HTML5</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-70">
                <div class="progress-overlay">.70</div>
                <label class="progress-label">CSS</label>
            </div>
        </div>
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="progress-radial progress-50">
                <div class="progress-overlay">.50</div>
                <label class="progress-label">JQuery</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-50">
                <div class="progress-overlay">.50</div>
                <label class="progress-label">Javascript</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-30">
                <div class="progress-overlay">.30</div>
                <label class="progress-label">Angularjs</label>
            </div>
        </div>
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="progress-radial progress-25">
                <div class="progress-overlay">.25</div>
                <label class="progress-label">LUA</label>
            </div>
        </div>
        <div class="col-sm-4">
            <!-- empty -->
        </div>
        <div class="col-sm-4">
            <!-- empty -->
        </div>
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="page-header">
    <h1>Språk</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="progress-radial progress-100">
                <div class="progress-overlay">.100</div>
                <label class="progress-label">Svenska</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-100">
                <div class="progress-overlay">.100</div>
                <label class="progress-label">Engelska</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="progress-radial progress-20">
                <div class="progress-overlay">.20</div>
                <label class="progress-label">Tyska</label>
            </div>
        </div>
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->
