@import "web-fonts";
@include web-fonts("Open Sans");

// colors

$mainTextColor: #7f8c97;

$secondaryColor-1: #D1BCE1;
$secondaryColor-2: #809EC2;
$secondaryColor-3: #b9a9d2;
$secondaryColor-4: #E2BDCA;
$secondaryColor-5: #D092A7;
$secondaryColor-6: #4D6082;
$secondaryColor-7: #98AFC7;

$linkColor: #acb7c0;
$backgroundColor: #fff;

$circleBarColor: $secondaryColor-3;
$circleOverlayColor: #fff;
$circleBackColor: #ededed;


// fonts

$primary-font: 'Open Sans';

// width, from bootstrap less

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
$screen-xs: 480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
$screen-md: 992px;
$screen-md-min: $screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
