// fonts
@primary-font: 'Open Sans';

// colors
@background-color: #fff;

// primary-blue
@primary-color-0: #5c7089;
// primary-purple
@primary-color-1: #6e5e88;

// blue, each one shade lighter than @primary-color-0
@secondary-color-0: #6c7e94;
@secondary-color-1: #7c8ca0;
@secondary-color-2: #8c9aac;
@secondary-color-3: #9da9b8;
@secondary-color-4: #adb7c4;
@secondary-color-5: #bdc5cf;
@secondary-color-6: #ced4db;
@secondary-color-7: #dee2e7;
@secondary-color-8: #eef0f3;

// purple, each one shade lighter than @primary-color-1
@tertiary-color-0: #7c6e93;
@tertiary-color-1: #8b7e9f;
@tertiary-color-2: #998eab;
@tertiary-color-3: #a89eb7;
@tertiary-color-4: #b6aec3;
@tertiary-color-5: #c5becf;
@tertiary-color-6: #d3cedb;
@tertiary-color-7: #e2dee7;
@tertiary-color-8: #f0eef3;

// circles

@circle-step: 1; // step of % for radial progress

@circle-loops: round(100 / @circle-step);
@circle-half: round(@circle-loops / 2);

// skill level
@circle-low: round(@circle-loops / 4);
@circle-medium: round(@circle-loops / 2);

@circle-bar-color: @secondary-color-2;
@circle-overlay-color: #fff;
@circle-back-color: #ededed;
